<div class="container">
    <video *ngIf="playingEpisode.mainSource !== undefined" [src]="playingEpisode.mainSource.url" controls></video>
    <div class="seasons" *ngIf="selectSeason">
        <button *ngFor="let season of show.seasons; let index = index" (click)="chosenSeason(index)">
            Temporada {{index + 1}}
        </button>
    </div>
    <div class="seasons" *ngIf="!selectSeason">
        <app-episodes [episodes]="season.episodes"></app-episodes>
    </div>
    <div class="body">
        <div class="details">
            <img [src]="show.posters[0]" alt="">
            <div class="metadata">
                <h1>{{show.name}}</h1>
                <p>{{show.short_description}}</p>
                <p class="description">{{show.description}}</p>
            </div>
        </div>
    </div>
</div>