<div class="episodes-container" [ngStyle]="{'width': (widthList)+'px'}">
    <div class="listArea">
        <div class="episodes-list" [ngStyle]="{'width': 230*episodes.length+'px'}">
            <div class="episode" *ngFor="let episode of episodes; let index = index" (click)="changeEpisode(index)">
                <img [src]="episode.sources[0].poster" alt="poster" class="episode-image">
                <div class="footer">
                    <p class="name">{{episode.name}}</p>
                    <!-- <p class="first-description">{{episode.short_description}}</p> -->
                </div>
            </div>
        </div>
    </div>
</div>