.episodes-container {
    position: relative;
    height: 140px;
}

.footer {
    width: calc(100% - 10px);
    margin-top: 0px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s;
    padding: 5px;
}

.listArea {
    overflow-x: scroll;
    overflow-y: hidden;
    width: inherit;
}

.episodes-list {
    transition: all ease 0.5s;
}

.episode {
    display: inline-block;
    width: 220px;
    height: 120px;
    margin-right: 10px;
    border-radius: 3px;
}

.episode-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}