.episodes-container {
    position: relative;
    height: 140px;
}

.episode {
    position: relative;
}

.created_at {
    color: #fff;
    background: #333;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 5px;
}

.footer {
    width: calc(100% - 10px);
    margin-top: 0px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s;
    padding: 5px;
}

.listArea {
    overflow-x: hidden;
    overflow-y: hidden;
    width: inherit;
}

.episodes-list {
    transition: all ease 0.5s;
}

.episode {
    display: inline-block;
    width: 220px;
    height: 120px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.episode-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    transition: all ease 0.5s;
}

.movieRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}