<footer>
    <div class="container">
        <div>
            <img src="assets/visits.png" alt="">
            <div class="body site-visits">
                <p>Visitas online: <span class="color-black">{{visits_online}}</span></p>
            </div>
        </div>
        <div class="footer_1">
            <img src="assets/visits.png" alt="">
            <div class="body2 online-visits">
                <p>
                    Visitas no site: <span class="color-black-site">{{visits_site}}</span>
                </p>
            </div>
        </div>
    </div>
    <img src="assets/logo.png" alt="logo" class="redetv-logo">
</footer>