<footer>
    <div class="container">
        <div>
            <img src="assets/visits.png" alt="">
            <div class="body site-visits">
                <p>Visitas ao site: <span class="color-black">{{visits_site}}</span></p>
            </div>
        </div>
        <div class="footer_1">
            <img src="assets/visits.png" alt="">
            <div class="body2 online-visits">
                <p>
                    Online: <span class="color-black-site">{{visits_online}}</span>
                </p>
            </div>
        </div>
    </div>
    <div class="socials">
        <a href="https://www.facebook.com/redetvto/">
            <img src="assets/facebook.png" alt="">
        </a>
        <a href="https://api.whatsapp.com/message/EUPPDCURLWWPK1">
            <img src="assets/wpp.png" alt="">
        </a>
        <a href="https://www.instagram.com/redetvto/">
            <img src="assets/instagram.png" alt="">
        </a>
    </div>
    <img [src]="logo" alt="logo" class="redetv-logo">
</footer>