.container--streaming {
  height: 90vh;
  display: flex;
  background: rgb(15,15,15);
  flex-direction: row;
  color: #FFF;
  align-items: center;
  justify-content: center;
}

.container--title {
  width: 100%;
  margin-left: 500px;
}

.container--title h1 {
  font-size: .9em;
}
.containerStreaming--logo {
  width: 120px;
  margin-left: 150px;
}

.container--section {
  display: flex;
  align-items: center;
  padding-left: 55px;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: 25px;
}

.container--section p {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.2em;
  color: #333;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.container--section img {
  width: 30px;
}

.container--shows {
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px 160px;
  grid-gap: 20px;
}

.bg-black {
  background: #0f0f0f;
  color: #fff;
}

.bg-black p {
  color: #FFF;
}

.container--sources {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  display: grid;
  grid-template-columns: 295px 295px 295px 295px;
  grid-gap: 20px;
  background: #0f0f0f;
}

.container--logos {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 0px;
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .container--streaming {
    height: 70vh;
  }

  .container--streaming {
    flex-direction: column;
  }

  .containerStreaming--logo {
    margin-left: 0px;
    width: 80px;
    margin-top: 10px;
  }

  .container--shows {
    margin-left: 5px;
    grid-gap: 10px;
    grid-template-columns: calc(50vw - 10px) calc(50vw - 10px);
  }

  .container--section {
    padding-left: 6px;
  }

  .container--section p {
    margin-left: 5px;
  }

  .container--sources {
    grid-template-columns: calc(100vw - 10px);
    grid-gap: 5px;
    padding-left: 5px;
  }

  .container--logos {
    grid-template-columns: calc(24vw - 10px) calc(24vw - 10px) calc(24vw - 10px) calc(24vw - 10px);
    grid-gap: 10px;
    margin-left: 10px;
  }
}