<div class="container">
  <img src="assets/icon.png" alt="logo" class="container--logo">
  <div class="container--streaming">
    <div class="container--title">
    </div>
    <app-streaming></app-streaming>
  </div>
  <div class="container--shows">
    <div class="container--show" *ngFor="let show of shows">
      <app-show [show]="show"></app-show>
    </div>
  </div>
  <div class="container--sources">
    <div *ngFor="let source of sources">
      <div class="container--source">
        <app-source [source]="source"></app-source>
      </div>
    </div>
  </div>
  <div class="container--logos">
    <div *ngFor="let logo of logos">
      <div class="container--logo">
        <app-logo [logo]="logo"></app-logo>
      </div>
    </div>
  </div>
</div>