.container--streaming {
    height: 90vh;
    display: flex;
    background: rgb(15, 15, 15);
    flex-direction: row;
    color: #FFF;
    align-items: center;
    justify-content: center;
}

.container--title {
    width: 100%;
    margin-left: 500px;
}

.container--title h1 {
    font-size: .9em;
}

.containerStreaming--logo {
    width: calc(120px * 1.2);
    margin-left: 150px;
}

.container--section {
    display: flex;
    align-items: center;
    padding-left: 55px;
    padding-bottom: 5px;
    padding-top: 10px;
    margin-top: 25px;
}

.container--section p {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.2em;
    color: #333;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.container--section img {
    width: 30px;
}

.container--shows {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 160px 160px;
    grid-gap: 20px;
}

.container--showsScroll {
    margin-right: 50px;
    margin-left: 50px;
    overflow-x: hidden;
}

.container-scroll {
    margin-left: 0px;
    transition: all 0.2s ease;
}

.container--showScroll {
    width: 160px;
    display: inline-block;
    margin-right: 20px;
}

.movieRow--left,
.movieRow--right {
    position: absolute;
    margin-top: 5px;
    width: 40px;
    height: 238px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 998;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 1;
    transition: all ease 0.5s;
}

.movieRow--left {
    left: 23px;
}

.movieRow--right {
    right: 23px;
}

.bg-black {
    background: #0f0f0f;
    color: #fff;
}

.bg-black p {
    color: #FFF;
}

.container--sources {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    display: grid;
    grid-template-columns: 295px 295px 295px 295px;
    grid-gap: 20px;
    background: #0f0f0f;
}

.container--logos {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-gap: 20px;
}