@media (max-width: 768px) {
    .container--streaming {
        height: 70vh;
    }
    .container--streaming {
        flex-direction: column;
    }
    .containerStreaming--logo {
        margin-left: 0px;
        width: 80px;
        margin-top: 10px;
    }
    .container--shows {
        margin-left: 5px;
        grid-gap: 10px;
        grid-template-columns: calc(50vw - 10px) calc(50vw - 10px);
    }
    .container--section {
        padding-left: 6px;
    }
    .container--section p {
        margin-left: 5px;
    }
    .container--sources {
        grid-template-columns: calc(100vw - 10px);
        grid-gap: 5px;
        padding-left: 5px;
    }
    .container--logos {
        grid-template-columns: calc(24vw - 10px) calc(24vw - 10px) calc(24vw - 10px) calc(24vw - 10px);
        grid-gap: 10px;
        margin-left: 10px;
    }
    .container--showsScroll {
        margin-left: 5px;
        margin-right: 5px;
    }
    .movieRow--left {
        left: 0px;
    }
    .movieRow--right {
        right: 0px;
    }
}