.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-loading {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.close {
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: bold;
}

video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.video-datas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.video-datas .views {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
}

.video-datas .like-count {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
}

.body {
    width: 100%;
    margin-top: 20px;
}

.details {
    display: flex;
    width: 100%;
}

.details img {
    width: 120px;
    border-radius: 10px;
}

.details .metadata {
    margin-left: 20px;
}

.details .metadata h1 {
    font-weight: bold;
    margin-bottom: 0px;
}

.details .metadata p {
    margin-top: 0px;
}

.details .metadata .description {
    margin-top: 20px;
}

.seasons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

button {
    margin: 10px;
    width: 130px;
    height: 40px;
    outline: none;
    border: none;
    background: #0f0f0f;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
}

.share {
    background: #075E54;
    outline: none;
    border: none;
    width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.like p {
    margin-top: 15px;
    font-weight: 600;
    margin-left: 2px;
}

a {
    text-decoration: none;
}

.share p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

@media (max-width: 768px) {
    video {
        height: 150px;
    }
    .details {
        flex-wrap: wrap;
    }
    .details img {
        width: 100%;
        margin-bottom: 10px;
    }
}